
input {
  direction: rtl;
  background-color: rgb(9, 34, 41);
  border: 2px solid #3E5259;
  border-radius: 2px;
  width: 500px;
  height: 50px;
  font-size: 15px;
  outline:none;
  color: #757575;
  text-align: center;
  font-style: italic;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
