body{
  background-color: rgb(9, 34, 41);
  color: #e4e4e4;
}


@font-face {
  font-family: 'OpenSansHebrew';
  url('assets/fonts/opensanshebrew-regular.ttf') format('truetype')
  font-weight: 400;
  font-style: normal;
}

